<img id="animatebg" src="images/animatebg.gif"/><BR />
<!-- <img id="logofade" src="images/logofade.gif"/> -->
<h1 class="title">Project 0861</h1>
<div class="login-forms">
  <div class="form">
    CONTINUE A QUEST<br /><br />
    <%= render partial: "sessions/login_form" %>
  </div>
  <div class="form">
    BEGIN A NEW ADVENTURE<br /><br />
    <%= render partial: "form" %>
  </div>
</div>

<div class="high-score-container">
  <ul class="high-scores">
    <h2 class="high-scores-head">HIGH SCORES</h2>
    <% (0..4).each do |rank| %>
      <li><%= "#{rank+1})    #{@highscores[rank]}  -  #{@highscore_names[rank]}" %>
    <% end %>
  </ul>
</div>

<audio id="bg_music" src="audio/intro_theme.wav" autoplay loop>
  Your browser does not support the <code>audio</code> element.
</audio>

<script type="text/javascript">
  var audio = document.getElementById('bg_music');
  $('#mute_button').on('click', function(e) {
    e.preventDefault();
    audio.muted = !audio.muted;
  });
</script>
