<audio src="../audio/background.wav" autoplay loop>
  Your browser does not support the <code>audio</code> element.
</audio>
<div id='cartodb-map'></div>
<script type="infowindow/html" id="infowindow_template">
  <div class="popup ui-box">
       <a href="#close" class="popup-close-button close">X</a>
    <div class="popup-content-wrapper">
      <div id="popup-content">
        <div id="m-info">
          <h1 id="name" style='font-size: 2em; padding-bottom: 10px'>PC7OX9DjPFgvml</h1>
          <h3 id="year">year: urMrN6oTncyr1A</h3>
          <h3 id="recclass">family: 2EkMu0iOn<h3>
          <h3 id="latitude">latitude: W3AXIE5GMHAOva</h3>
          <h3 id="longitude">longitude: wkIVtuOHKUX7cr</h3><br>
        </div>
        <div id="m-image">
          <%= image_tag 'p-green.png' %>
        </div>
        <p id="story">UY16D8TfIAEKp2
zSK0sMyOHrQ0eV l8nqvLawMuJ2WD aCQhiMz0VlAPAQ 5kntlYoBCvx5kq JhFcbYHWg0Uy2Y 4j2DuHayM24rCI</p>
        <h3 id="minigame-buttons"></h3><br>
      </div>
    </div>
  </div>
</script>


