<script type="infowindow/html" id="infowindow_template">
  <div class="popup">
       <a href="#close" class="popup-close-button close">x</a>
    <div class="popup-content-wrapper">
      <div id="popup-content">
      <div id="m-info">
        <h1 id="name"></h1>
        <h3 id="year"></h3>
        <h3 id="recclass"><h3>
        <h3 id="latitude"></h3>
        <h3 id="longitude"></h3><br>
      </div>
      <div id="m-image">
        <%= image_tag 'p-green.png' %>
      </div>

        <p id="story"></p>

        <button id="win-button">Win Button!</button>
      </div>
    </div>
  </div>
</script>
