<script type="infowindow/html" id="infowindow_template">
  <div class="popup">
       <a href="#close" class="popup-close-button close">x</a>
    <div class="popup-content-wrapper">
      <div class="popup-content">
        <%= render 'minigame' %>
      </div>
    </div>
  </div>
</script>
