.grid-cell {
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  height: 75px;
  width: 75px;
  margin: 5px;
  border: solid green 3px;
  padding: 15px;
  text-align: center;
  font-size: 2em;
  font-family: 'Press Start 2P', cursive;
}

.grid-row {
  width: 350px;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.grid-container {
  margin-left: 33%;
  margin-right: 25%;
}

#minigame-board {
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
