#header {
  z-index: 1000;
  position: fixed;
  height: 100px;
}

#title-box {
  margin: 5px 0px 0px 50px;
  font-size: 24px;
  padding: 15px;
}

#user-info-box {
  position: fixed;
  top: 0;
  right: 0;
  margin: 5px 5px 0px 0px;
}


#sidebar {
  z-index: 1000;
  position: fixed;
  height: 350px;
  width: 150px;
  margin: 0px 10px 20px 0px;
  padding: 10px;
  bottom: 0;
  right: 0;
  opacity: 0.9;
}

#sidebar #fam-list-header {
  text-align: center;
}

#fam-list ul {
  list-style-type: none;
}

#fam-list ul li {
  list-style-type: none;
  margin-top: 20px;
  text-align: center;
  font-size: 1.5em;
}

@-webkit-keyframes flash {
    0%   {color: white;}
    100% {color: #ffff00;}
  }

#fam-rescue-display {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2em;
  -webkit-animation-name: flash;
  -webkit-animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#welcome-user-box {
  float: left;
  margin-right: 5px;
}

#logout-button-box {
  float: right;
}

#logout-button {
  height: 18px;
  margin: -3px;
}
