#header {
  z-index: 1000;
  position: fixed;
  height: 100px;
}

#title-box {
  margin: 25px 0px 0px 50px;
  font-size: 24px;
  padding-right: 5px;
}

#title-box p:first-child {
  margin-top: -10px;
}

#sidebar {
  z-index: 1000;
  position: fixed;
  height: 400px;
  width: 150px;
  margin: 0px 10px 10px 0px;
  padding: 10px;
  bottom: 0;
  right: 0;
  opacity: 1.0;
}

#sidebar #fam-list-header {
  text-align: center;
}

#fam-list ul {
  list-style-type: none;
}

#fam-list ul li {
  margin-top: 20px;
  text-align: center;
  font-size: 1.5em;
}

@-webkit-keyframes flash {
    0%   {color: white;}
    100% {color: #ffff00;}
  }

#fam-rescue-display {
  text-align: center;
  margin-top: 15px;
  font-size: 1.2em;
  -webkit-animation-name: flash;
  -webkit-animation-duration: 1s;
  animation-iteration-count: infinite;
}
