#header {
  z-index: 1000;
  position: fixed;
  background: #000;
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.5;
  opacity: 0.8;
  height: 100px;
}

#title-box {
  margin: 25px 0px 0px 50px;
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;
  padding-right: 5px;
}

#title-box p:first-child {
  margin-top: -10px;
}
