html, body {width:100%; height:100%; padding: 0; margin: 0;}
#cartodb-map { width: 100%; height:100%; background: black;}

.ui-box {
    background: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.9;
    color: white;
  	font-family: 'Press Start 2P', cursive;
}

.popup {
  overflow: auto;
  position: fixed;
  top: 20%;
  left: 20%;
  height: 550px;
  width: 1000px;

  padding:20px;
  font-size: 16px;
}

.popup .popup-content-wrapper {
  height: auto;
  width: auto;
  max-width: none;
  padding:12px;
  background:none;
  margin-top: 10px;
}

.popup .popup-content {
  height: auto;
  width: auto;
  max-width:none;
  display:block;
  background:none;
}

#name-wrapper {
  padding-bottom: 10px;
}

#name {
  font-size: 2.2em;
  text-align: left;
}

#story {
  font-size: 16px;
  margin: 10px;
}

#m-info {
  display: inline-block;
  padding-left: 16px;
}

#m-image {
  display: inline-block;
  float:right;
  margin-top: -20px;
  background-color: black;
  padding: 20px;
  border: 2px solid white;
  image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

.profile_pic {
  height: 150px;
  width: 130px;
}
