<div id="header" class="ui-box">
  <table>
    <div id="header-tr">
      <tr>
        <td>
          <div id="title-box">
          </div>
        </td>
        <td>
          <div id="user-info-box">
          </div>
      </tr>
    </div>
  </table>
</div>

<div id="sidebar" class="ui-box">

</div>
