<div id="header">
  <table>
    <div id="header-tr">
      <tr>
        <td>
          <div id="title-box" class="ui-box">
          </div>
        </td>
        <td>
          <div id="user-info-box" class="ui-box">
            <% if logged_in? %>
              <p>Welcome <%= current_user.username %>!</p>
            <% end %>
          </div>
      </tr>
    </div>
  </table>
</div>

<div id="sidebar" class="ui-box">

</div>
