<div id="header" class="ui-box">
  <table>
    <div id="header-tr">
      <tr>
        <td>
          <div id="title-box">
            <p>project</p>
            <p><span style='font-size: 2em'> &nbsp &nbsp 0861</span></p>
          </div>
        </td>
        <td>
          <div id="user-info-box">
          </div>
      </tr>
    </div>
  </table>
</div>

<div id="sidebar" class="ui-box">
  <div id="fam-list-header">
    <h5>Family Members Collected</h5>
  </div>
  <div id="fam-list">
    <ul>
      <li id="L-display"></li>
      <li id="H-display"></li>
      <li id="I-display"></li>
      <li id="U-display"></li>
    </ul>
  </div>
  <div id="fam-rescue-display">
  </div>
</div>
