<div id="header">
  <table>
    <div id="header-tr">
      <tr>
        <td>
          <div id="title-box">
            <p>project</p>
            <p><span style='font-size: 2em'> &nbsp &nbsp 0861</span></p>
          </div>
        </td>
        <td>
          <div id="user-info-box">
          </div>
      </tr>
    </div>
  </table>
</div>
