<!DOCTYPE html>
<html>
<head>
  <title>Project0861</title>
  <link rel="stylesheet" href="//libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css" />
  <script src="//libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>

</head>
<body onload="init()">
  <div id='cartodb-map'></div>
  <%= yield %>
</body>

</html>
