<!DOCTYPE html>
<html>
<head>
  <title>Project0861</title>
  <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css" />
  <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
  <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.standalone.js'></script>

</head>
<body>
  <div id='cartodb-map'></div>
  <%= yield %>
</body>

</html>
